# Зависимости
**/node_modules/

# Переменные окружения
**/.env
**/.env.local

# Загруженные файлы
Backend/src/uploads/

# Логи
*.log

# IDE
.vscode/
.idea/

# Файлы сборки
**/dist/
**/build/

# Пароли
password.txt
/*.txt